<a href="https://colab.research.google.com/github/jchelp/aula37/blob/main/Aula_1_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Introdução
print ('Olá mundo ')

Olá mundo

In [2]:
#Variáveis, tipo de dados e operadores exemplo 1
idade = 20
nome = 'Ana'
print (nome, "tem", idade, "anos")

Ana tem 20 anos

In [10]:
#Variáveis, tipo de dados e operadores exemplo 2
vendas_jan = 120
vendas_fev = 95
total = vendas_jan + vendas_fev
print ("Total de vendas:", total)

Total de vendas: 215

In [6]:
#Lógica condicional exemplo 1
nota = 4
if nota >= 7:
   print("Aprovado")
elif nota >=5:
   print("Recuperação")
else:
  print("Reprovado ")

Reprovado

In [8]:
#Lógica condicional exemplo 2
senha ="1234"
entrada = input("Digite a senha: ")
if entrada == senha:
  print("Acesso liberado!")
else:
  print("Senha incorreta")

Digite a senha: 1234
Acesso liberado!

In [9]:
#Laços de repetição - For
alunos = ["Ana", "Bruno", "Carla"]
for aluno in alunos:
  print("Presente:", aluno)

Presente: Ana
Presente: Bruno
Presente: Carla

In [14]:
#Laços de repetição - While
# Para repetir as mesmas intruções
# E é assim que sistemas enviam e-mails em massa, processam relatórios ou analisam milhares de dados.
contador = 1
while contador <= 10:
  print("Número:", contador)
  contador += 1

Número: 1
Número: 2
Número: 3
Número: 4
Número: 5
Número: 6
Número: 7
Número: 8
Número: 9
Número: 10

In [27]:
#Funções
#Reaproveitar uma lógica várias vezes - função.
#Função é como uma receita: você passa os ingredientes, segue os passos, e sempre chega ao mesmo resultado.
def calcular_media(n1, n2, n3):
  return (n1 + n2 + n3) / 3

media = calcular_media(8, 5, 7)
print("Média do aluno:", media)

Média do aluno: 6.666666666666667

In [33]:
#Integrando o que vimos
def classificar_aluno(nome, notas):
  media = sum(notas) / len(notas)
  if media >=7:
    status = 'Aprovado'
  elif media >=5:
    status ="Recuperação"
  else:
    status = "Reprovado"
  return f"{nome}: {status} (Média: {media:.1f})"

print(classificar_aluno("Ana", [8, 7, 9]))
print(classificar_aluno("Bruno", [5, 5, 5]))
print(classificar_aluno("Carla", [2, 2, 2]))

Ana: Aprovado (Média: 8.0)
Bruno: Recuperação (Média: 5.0)
Carla: Reprovado (Média: 2.0)

In [37]:
#Programinha básico
def classificar_aluno(nome, notas):
  media = sum(notas) / len(notas)
  if media >=7:
    status = 'Aprovado'
  elif media >=5:
    status ="Aprovado"
  else:
    status = "Reprovado"
  return f"{nome}: {status} (Média: {media:.1f})"

# --- parte interativa ---
alunos = []
while True:
    nome = input("Digite o nome do aluno (ou 'sair' para encerrar): ")
    if nome.lower() == 'sair':
        break

    notas =[] # Lista vazia
    for i in range(3): #Supondo 3 notas
        while True:
            try:
                nota = float(input(f"Digite a nota {i+1} para {nome}: "))
                notas.append(nota)
                break # Sai do loop de validação se a entrada for válida
            except ValueError:
                print("Entrada inválida. Por favor, digite um número para a nota.")

    alunos.append(classificar_aluno(nome, notas))

print("\n--- Resultados ---")
for resultado in alunos:
    print(resultado)

Digite o nome do aluno (ou 'sair' para encerrar): José Carlos
Digite a nota 1 para José Carlos : 8
Digite a nota 2 para José Carlos : 9
Digite a nota 3 para José Carlos : 10
Digite o nome do aluno (ou 'sair' para encerrar): Lucas Costa
Digite a nota 1 para Lucas Costa: 8
Digite a nota 2 para Lucas Costa: 7
Digite a nota 3 para Lucas Costa: 5
Digite o nome do aluno (ou 'sair' para encerrar): João da Silva
Digite a nota 1 para João da Silva: 4
Digite a nota 2 para João da Silva: 3
Digite a nota 3 para João da Silva: 2
Digite o nome do aluno (ou 'sair' para encerrar): sair

--- Resultados ---
José Carlos : Aprovado (Média: 9.0)
Lucas Costa: Aprovado (Média: 6.7)
João da Silva: Reprovado (Média: 3.0)